#root {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    max-width: 640px;
    max-height: 640px;
    margin: 0 auto;
}

.gameInitilization {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 3rem;
}
main
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 100%;
    height: 100vh;
}
.content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
input
{
    border:2px solid rgb(202, 194, 194);
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
}